<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Accounts</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list [@listAnimation]="prepareListState()" [@.disabled]="animationsDisabled">
      <mat-list-item *ngFor="let account of accounts; trackBy: trackAccount" (click)="selected.emit(account)" class="record" [ngClass]="{inactive: !account.isActive}">
        <h3 matLine>{{account.name.first}} {{account.name.last}}</h3>
        <p matLine>
          Email: {{account.email}}
        </p>
        <p matLine>
          Active: {{account.isActive + '' | titlecase}}
        </p>
        <p matLine>
          Transactions: {{account.transactions.length}}
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
