<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Accounts</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list [@listAnimation]="prepareListState()" [@.disabled]="animationsDisabled">
      <mat-list-item *ngFor="let account of accounts; trackBy: trackAccount" (click)="selected.emit(account)" class="record">
        <h3 matLine>{{account.name.first}} {{account.name.last}}</h3>
        <button *ngIf="!readonly" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
        <p matLine *ngFor="let transaction of account.transactions; index as i">
          <span>{{i+1}}</span>
          <span>{{transaction.amount | currency}}</span>
          <span>{{transaction.registered | date}}</span>
          <span>{{transaction.company | titlecase}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
